*{
    box-sizing: border-box;
    font-size: 14px; 
    font-family: "Montserrat";
    font-weight: 500;
}

.pc-only{
    display: none;
}

body {
    display: flex;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    align-items: center;
    height: 100vh;
}

main {
    background-color: white;
    /* margin: auto auto; */
    overflow: hidden;
    border-radius: 1rem;
}
main *{
    margin: 1rem;
}

.mob-only  {
    margin: 0;
    width: 100%;
}

h1 {
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 2.5rem;
    color:  hsl(212, 21%, 14%);
}

.type {
    color: hsl(228, 12%, 48%);
    letter-spacing: 0.3rem;
}

article{
    color: hsl(228, 12%, 48%);
    width: 295px;
    line-height: 1.5rem;
}
.prices {
    display: flex;
    margin: 0 0 0 0;
}
.price {
    font-family: "Fraunces";
    color: hsl(158, 36%, 37%);
    font-size: 2.5rem;
}

.old-price {
    align-self: center;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

button{
    width: 90%;
    color: white;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
}

@media screen and (min-width: 700px) {
    *{
        font-size: 14px;
    }

    body{
        align-items: center;
        height: 100vh;
    }
    .mob-only{
        display: none;
    }

    .pc-only{
        display: inline;
        margin: 0;
        min-height: 20rem;
        max-height: 100%;
        height: 33rem;
    }
    main {
        display: flex;
    }

    h1{
        width: 16rem;
    }
    article{
        width: 16rem;
    }
    }